services:
  qdrant:
    image: qdrant/qdrant:v1.11.1
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    environment:
      QDRANT__SERVICE__GRPC_PORT: 6334
    volumes:
      - qdrant_storage:/qdrant/storage

  api:
    build: .
    container_name: sign-rag-api
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      MODEL_NAME: "BAAI/bge-m3"
      QDRANT_URL: "http://qdrant:6333"
      COLLECTION_NAME: "sign_vectors"
      CORS_ALLOW_ORIGINS: "*"
    depends_on:
      - qdrant
    volumes:
      - hf_cache:/root/.cache/huggingface

volumes:
  qdrant_storage:
  hf_cache:
